{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to IndexPage</h1>
    <p>Number of events: {{ all_events.count }}</p>
    {% if request.GET.archive != 'true' %}
        <a href="{% url 'events:list' %}?archive=true ">Show finished events</a>
    {% else %}
        <a href="{% url 'events:list' %}">Go back to active events</a>
    {% endif %}

    <ul class="category-list">
        {% for event in all_events %}
            <li><strong>Name</strong> is:<a href="{{ event.get_absolute_url }}"> {{ event.name }}</a> and
                <strong>pk</strong> is:{{ event.oh_pk }}</li>
        {% endfor %}
    </ul>
{% endblock %}