{% extends 'base.html' %}

{% block content %}
    <h2>Hi, {{ user.username }}!</h2>
    <p>Your saldo is: {{ wallet.balance|default_if_none:0 }} BTC</p>
    <br>
    <p><strong>List of your operations:</strong></p>
    <ul class="category-list">
        {% for op in wallet.operations.all %}
            {% with ep=op.bet.event_participant  %}
            <li>{{ op.change }}, {{ op.date }}, for option {{ ep.participant.name }}
                in <a href="{% url 'events:detail' pk=ep.event.pk %}">
                    {{ ep.event.name }}
                </a>
                event {% if ep.event.status != 'active' %} (finished){% endif %}
            </li>
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}